<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Working?</th>
    <th>Checked out?</th>
    <th>Return Date</th>
  </tr>

<% @tools.each do |tool| %>
  <tr>
    <td><%= tool.name %></td>
    <td><%= Location.find(tool.location_id).name %>
    <td><%= tool.working %></td>
        <td><%= tool.checked_out %></td>

    <td><%= tool.return_date %>
    <td><%= link_to 'Show', tool.id.to_s %></td>
    <td>Edit</td>
    <td><%= link_to 'Delete', tool.id.to_s, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
