<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tools.name %><br>
  <b>Status:</b>
  <% if @tools.checked_out == true %>
    Checked Out
  <% else %>
    At Base
  <% end %><br>
  <b>Donor:</b>
  <%= @tools.donor %><br>
  <b>Donor Email:</b>
  <%= @tools.donor_email %><br>
  <b>QR Code:</b>
  <%= @tools.qr_code %><br>
  <b>Category:</b>
  <%= @tools.category %><br>
  <b>Working Status:</b>
  <% if @tools.working == true%>
    Working
  <% else %>
    Broken
  <% end %><br>
  <% if @tools.returnable == true %>
  <b>Return Date:</b>
    <%= @tools.return_date %><br>
  <% end %>
  <b>Location ID:</b>
  <%= @tools.location_id %><br>
  <b>Location Name:</b>
  <%= Location.find(@tools.location_id).name %><br>
  <% if @tools.working == false %>
    <b>Broken Description:</b>
    <%= @tools.broken_description %>
  <% end %>
</p>

<%= link_to 'Back', items_all_path %>
