<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %><br>
  <b>Location:</b>
  <%= @location.location %><br>
  <b>Active:</b>
  <%= @location.active %>
<br>
  <b>Description:</b>
  <%= @location.description %><br><br>
  <b>Tools:</b><br>
  <% @tools.each do |tool| %>
  <%= tool.name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
