<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %><br>
  <b>Location:</b>
  <%= @location.location %><br>
  <b>Active:</b>
  <%= @location.active %>
<br>
  <b>Description:</b>
  <%= @location.description %><br><br>
  <b>Tools:</b><br>
  <table width=500><tr><th></th><th></th><th></th><th></th><tr>
  <% @tools.each do |tool| %>
  <td><%= tool.name %></td>
  <td>
  <% if tool.checked_out == true %>
    Checked Out
  <% else %>
    At Base
  <% end %>
  </td>
  <td>
  <% if tool.working == false %>
    Broken
  <% else %>
    Working
  <% end %>
  </td>
  <td><%= tool.broken_description %></td>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
