<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %><br>
  <b>Location:</b>
  <%= @location.location %><br>
  <b>Active:</b>
  <% if @location.active == true %>
  <%= @location.active %>
  <% end %>
<br>
  <b>Description:</b>
  <%= @location.description %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
